{
    "trailingComma": "none",
    "tabWidth": 4,
    "useTabs": true,
    "semi": true,
    "singleQuote": true,
    "importOrder": [
        "THIRD_PARTY_MODULES",
        "^@/components/(.*)$",
        "^@/screen/(.*)$",
        "^@/ui/(.*)$",
        "^@/hooks/(.*)$",
        "^@/shared/(.*)$",
        "^@/services/(.*)$",
        "^@/assets/(.*)$",
        "^@/utils/(.*)$",
        "^@/configs/(.*)$",
        "^@/../(.*)$",
        "^@/./(.*)$",
        "^(.scss)$"
    ],
    "importOrderSeporation": true,
    "importOrderSortSpecifiers": true
}